<launch>
  <arg name="mapping" default="$(find sr_cyberglove_config)/mappings/GloveToHandMappings_generic"/>
  <arg name="transposed" default="true"/>

  <!-- shadowhand to cybergrasp remapper -->
  <node pkg="sr_remappers" name="cyberglove_remapper"
	type="cyberglove_remapper" output="screen">
    <param name="cyberglove_prefix" type="string"
    value="/cyberglove/" />
    <param name="sendupdate_prefix" type="string"
    value="/srh/" />
    <param name="cyberglove_mapping_path" type="string" value="$(arg mapping)" />
    <param name="transposed" type="bool" value="$(arg transposed)" />
  </node>
</launch>

